# Configuration file 
# Alan Meyer

[preactions]

[packages]
remove_mail             = sendmail
mail                    = sendmail

[dotfiles]
bashrc                  = dotfiles_bashrc
bashrc_common           = dotfiles_bashrc_common
htoprc                  = dotfiles_htoprc                 
vimrc                   = dotfiles_vimrc

[config]
config_host1            = cp -n /etc/hosts /etc/hosts.orig
#action_host2            = sed -i 's,^\(%(_IP)\).*,\1 server.ocmeyer.com server/g' /etc/hosts
#action_host2            = sed -i 's/^167.160.36.129 .*/167.160.36.129 server.ocmeyer.com server/g' /etc/hosts
config_host3            = echo "server.ocmeyer.com" | tee /etc/hostname
config_host4            = service hostname restart

# Add new users
# user1                 = my_new_user
[users]
user1                   = test_user_1
user2                   = test_user_2
user3                   = test_user_3

# Add new groups
# group1                = my_new_group
[groups]
group1                  = test_group_1
group2                  = test_group_2
group3                  = test_group_3

# Set users to groups
# my_new_user           = my_new_group1,my_new_group2
# Note: No spaces between commas
[users groups]
test_user_1             = test_group_1,test_group_2
test_user_2             = test_group_2,test_group_3
test_user_3             = test_group_1,test_group_2,test_group_3

[delete groups]
group1                  = test_group_1
group2                  = test_group_2
group3                  = test_group_3

[delete users]
user1                   = test_user_1
user2                   = test_user_2
user3                   = test_user_3

[media]
image_01                = media_OC-Logo-237x196.jpg
image_02                = media_OCMeyer-Logo-175x165.jpg
image_03                = media_OCMeyer-Logo-350x330.jpg
image_04                = media_OCMeyer-Logo-960x196.png
image_05                = media_OCMeyer-Logo-175x165.png
image_06                = media_favicon.ico

[scripts]
script_01               = scripts_allfiles.sh
script_02               = scripts_checkip.sh
script_03               = scripts_f2b_show.sh
script_04               = scripts_f2b_unblock.sh
script_05               = scripts_root-daily.sh
script_06               = scripts_root-monthly.sh
script_07               = scripts_root-startup.sh
script_08               = scripts_root-monthly.sh
script_09               = scripts_root-weekly.sh
script-initd_01         = scripts_root-startup
script-cron_01          = scripts_crontab

[postactions]
