# Configuration file 
# Alan Meyer

[preactions]

[packages]

[dotfiles]
bashrc                  = dotfiles_bashrc
bashrc_common           = dotfiles_bashrc_common
htoprc                  = dotfiles_htoprc                 
vimrc                   = dotfiles_vimrc

[config]
action_host1            = cp -n /etc/hosts /etc/hosts.orig
#action_host2            = sed -i 's,^\(%(_IP)\).*,\1 server.ocmeyer.com server/g' /etc/hosts
#action_host2            = sed -i 's/^167.160.36.129 .*/167.160.36.129 server.ocmeyer.com server/g' /etc/hosts
action_host3            = echo "server.ocmeyer.com" | tee /etc/hostname
action_host4            = service hostname restart

[users]
user1                   = test_user_1
user2                   = test_user_2
user3                   = test_user_3

[groups]
group1                  = test_group_1

[groups users]
test_group_1            = test_user_1 test_user2 test_user3

[postactions]
